@page "/"
@using LOLA.Shared
@using MudBlazor
@layout LoginLayout
@inject HttpClient Http
@using LOLA.Client.Services
@inject ILoginClient _loginClient
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider 

<style>
    .parent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body {
        background-image: linear-gradient(180deg, rgb(0, 72, 186) 0%, rgb(201, 255, 229) 70%);
        background-attachment: fixed;
    }
</style>


<h2>Login</h2>


 
<div  class="row parent" >
    <div class="col col-6">
        <input type="email" @bind-value="_loginClient.Email" class="form-control mb-3" placeholder="Email"/>
        <input type="password" @bind-value="_loginClient.Password" class="form-control mb-3" placeholder="Password"/>
        <p style="color:red; font-size:20px">@authMessage</p>
        <MudButton Variant = "Variant.Filled" Color = "Color.Secondary"  @onclick="LoginUser">Login</MudButton>
       
    </div>
</div>




@code
{
    [CascadingParameter] 
    private Task<AuthenticationState> GetAuthenticationStateAsync { get; set; }  
    private string authMessage;
   
    private async Task LoginUser()
    { 
        var loggingInUser = await _loginClient.LoginUser();


        if (loggingInUser.Email != null && loggingInUser.Password != null)  
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();  //gets current user claims
            var user = authState.User;

            if(user.IsInRole("Admin"))
                Console.WriteLine("I am Admin fear me!!");
            else if (user.IsInRole("User"))
                Console.WriteLine("I am user.");
            else
                Console.WriteLine("I do not have a role! ");
            
            System.Console.WriteLine("this should be true if user is authenticated: " + user.Identity.IsAuthenticated);

            if(user.Identity.IsAuthenticated) // makes sure user is a valid user 
            { 
                System.Console.WriteLine("User identified");
                // go to home page
                _navigationManager.NavigateTo("/home", true); 
            }
        }
        else
        {
            authMessage = "Email or Password is incorrect!";
        }
    }
} 