@page "/startlunchorder"

<PageTitle>Start Lunch Order Page</PageTitle>

<h1>Start Lunch Order Page</h1>

<p>@msg</p> <br>
<input placeholder="Restaurant Name" />
<input placeholder="Something to order" />
<input placeholder="Price" />
<button>Add to order</button>